
@mixin flex-Direction($flex, $align, $justify, $color) {
    display: $flex;
    align-items: $align;
    justify-content: $justify;
    color: $color;
}

@mixin border($size, $type, $color, $boxing){
    border : $size $type $color;
    box-sizing: $boxing;
}

@mixin flex_Direction1($flex, $align, $color){
    display: $flex;
    align-items: $align; //flex-start
    color: $color;
}

@mixin flex_Direction2($flex, $justify, $color){
    display: $flex;
    justify-content: $justify; //flex-start
    color: $color;
}

.Container{
    height: 100%;
    display: flex;
    justify-content: center;
}

.MainContainer{
    // border: 1px solid lightgray;
    height: 610px;
    width: 400px;

    .MyOrder_Container{
        height: 250px;
        width: 100%;
        // @include border(1px, solid, white, border-box);
        background-color: #3A3A3A;
        margin-bottom: 10px;

        .MyOrder_Header{
            height: 25%;
            // @include border(1px, solid, white, border-box);
            border-bottom: 2px solid black;
            display: flex;

            .MyOrder_Header_dateTime{
                width:34% ;
                height: 100%;
                // @include border(1px, solid, white, border-box);

                .MyOrder_Header_dateTime_Header{
                    width: 100%;
                    height: 50%;
                    // @include border(1px, solid, white, border-box);
                    font-size: 12px;
                    @include flex-Direction(flex, center, center, white);
                }

                .MyOrder_Header_dateTime_CurrentTime{
                    width: 100%;
                    height: 50%;
                    color: white;
                    font-size: 14px; 
                    // @include border(1px, solid, white, border-box);
                    @include flex-Direction(flex, flex-start, center, white);
                }

            }

            .MyOrder_Header_Count{
                width:33% ;
                height: 100%;
                // @include border(1px, solid, white, border-box);

                .MyOrder_Header_Count_Header{
                    width: 100%;
                    height: 50%;
                    // @include border(1px, solid, white, border-box);
                    font-size: 12px;
                    @include flex-Direction(flex, center, center, white);
                }

                .MyOrder_Header_Count_CurrentCount{
                    width: 100%;
                    height: 50%;
                    // @include border(1px, solid, white, border-box);
                    @include flex-Direction(flex, flex-start, center, white);
                }

            }

            .MyOrder_Header_Amount{
                width:34% ;
                height: 100%;
                // @include border(1px, solid, white, border-box);

                .MyOrder_Header_Amount_Header{
                    width: 100%;
                    height: 50%;
                    // @include border(1px, solid, white, border-box);
                    @include flex-Direction(flex, center, center, white);
                    font-size: 12px;
                }

                .MyOrder_Header_Amount_CurrentAmount{
                    width: 100%;
                    height: 50%;
                    // @include border(1px, solid, white, border-box);
                    @include flex-Direction(flex, flex-start, center, white);
                }
            }

        }

        .MyOrder_MainContainer{
            height: 40%;
            // @include border(1px, solid, white, border-box);
            display: flex;

            .MyOrder_MainContainer_Image{
                width: 31%;
                height: 100%;
                // @include border(1px, solid, white, border-box);
                @include flex-Direction(flex, center, center, white);

                .MyOrder_MainContainer_Image_I{
                    border-radius: 5px;
                    @include flex-Direction(flex, flex-start, center, white);
                }
            }

            .MyOrder_MainContainer_Detailed{
                width: 70%;
                height: 100%;
                // @include flex-Direction(flex, flex-start, center, white);
                

                .MyOrder_MainContainer_Detailed_Header{
                    width: 100%;
                    height: 40%;
                    // @include border(1px, solid, white, border-box);
                    @include flex_Direction1(flex, center,white);
                }

                .MyOrder_MainContainer_Detailed_SizeColor{
                    width: 100%;
                    height: 30%;
                    // @include border(1px, solid, white, border-box);
                    display: flex;

                    .MyOrder_MainContainer_Detailed_SizeColor_Size{
                        width: 25%;
                        height: 100%;
                        // @include border(1px, solid, white, border-box);
                        font-family: Arial, sans-serif;
                        @include flex_Direction1(flex, center,white);
                        font-size: 12px;
                    }

                    .MyOrder_MainContainer_Detailed_SizeColor_Color{
                        width: 75%;
                        height: 100%;
                        // @include border(1px, solid, white, border-box);
                        @include flex_Direction1(flex, center,white);
                        font-size: 12px;
                        font-family: Arial, sans-serif;
                    }
                }

                .MyOrder_MainContainer_Detailed_Price{
                    width: 100%;
                    height: 30%;
                    // @include border(1px, solid, white, border-box);
                    display: flex;

                    .MyOrder_MainContainer_Detailed_Price_Header{
                        width: 12%;
                        height: 100%;
                        @include flex_Direction2(flex,flex-start,white);
                        font-size: 14px;
                        
                    }

                    .MyOrder_MainContainer_Detailed_Price_SalePrice{
                        width: 22%;
                        height: 100%;
                        @include flex_Direction2(flex,flex-start,white);
                        font-size: 14px;
                    }

                    .MyOrder_MainContainer_Detailed_Price_RealPrice{
                        width: 50%;
                        height: 100%;
                        @include flex_Direction2(flex,flex-start,white);
                        text-decoration: line-through;
                        font-size: 14px;
                    }

                }
            }

        }

        .MyOrder_MenuButton{
            height: 20%;
            @include border(0.5px, solid,rgb(78, 78, 78), border-box);
            display: flex;

            .MyOrder_MenuButton_Exchange{
                height: 100%;
                width: 50%;
                // @include border(1px, solid, white, border-box);
                @include flex-Direction(flex, center, center, white);

                .MyOrder_MenuButton_Exchange_B{
                    width: 80%;
                    height: 50%;
                    background-color: white;
                    font-weight: 600;
                    font-size: 12px;
                    font-family: Arial, sans-serif;
                    // @extend .flex_Direction;
                }
            }

            .MyOrder_MenuButton_Return{
                height: 100%;
                width: 50%;
                // @include border(1px, solid, white, border-box);
                @include flex-Direction(flex, center, center, white);

                .MyOrder_MenuButton_Return_B{
                    width: 80%;
                    height: 50%;
                    background-color: white; 
                    font-weight: 600;
                    font-size: 12px;  
                    font-family: Arial, sans-serif;
                }
            }

        }

        .MyOrder_Rating{

            height: 16%;
            @include flex-Direction(flex, center, center, white);
            white-space: 2px;
            // @include border(1px, solid, white, border-box);

            .MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit{
                margin-left: 15px;
            }
            
        }
    }
}

.element::-webkit-scrollbar { width: 0 !important }

.mainContainer{

    .myorder_Body{
        width: 100%;
        height: 90%;
        overflow: auto;
        // overflow-y:hidden;
        // overflow:scroll;
    }

    .myorder_Body::-webkit-scrollbar { 
        display: none; 
    }
    
}